input[type='text'] {
  width: 100%;

  padding: 10px;
  height: 40px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  position: absolute;
  z-index: 2;

  &:focus {
    outline: none;
  }
}

.submit {
  position: absolute;
  top: 0;
  height: 40px;
  z-index: 4;
  right: 70px;
  .hidden{
    display: none;
  }
}

.fa-search {
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}

button {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  height: 40px;
  border-radius: 0 3px 3px 0;
  border: 0;
  border-left: 1px solid #a0a0a0;
  background: #e0e0e0;
  width: 60px;
  z-index: 3;
}

.search {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  min-width: 400px;
  height: 40px;
  margin-bottom: 1rem;
}

.region {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .search {
    grid-column: 1 / span 3;
  }
  input[type="text"] {
    width: 100%;
    border-radius: 0;
  }
  button {
    border-radius: 0;
  }
}