.submit {
  //position: absolute;
  //top: 0;
  height: 40px;
  z-index: 4;
  right: 70px;
  .hidden {
    display: none;
  }
}

.fa-search {
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}

