main {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr auto;
}

section{
  position:relative;
  grid-column: 2;
  min-width: 400px;
  .wrapper{
    transition: all 1s;
    position:absolute;
    top:40%;
    &.expanded{
      top:10%;
    }
  }
}


@media only screen and (max-width: 600px) {
  section {
    grid-column: 1 / span 3;
    .wrapper{
      position: initial;
    }
  }
}
